<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://kit.fontawesome.com/73a2fe9eaa.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% if include_header %} 
      {% include 'header.html' %} 
    {% endif %} 
  
    {% block body %}
    {% endblock %}
    
  </body>
</html>
