{% block header %}
<!-- Top Header --> 
<header class="site-header flex 
              justify-between 
              bg-csun-red 
            text-white w-full
              py-4
              px-6
              text-lg">

  <!-- Logo maybe --> 
  <div class="title text-2xl"><a href="/">OnlyClubs</a></div>

  <!-- Navbar --> 
  <nav class="flex-no-wrap relative flex w-full justify-end items-center" >
    <ul class="flex gap-6 flex-col md:flex-row">
      <!-- Menu items --> 
      <li class="transition-all duration-300 ease-out hover:opacity-85"><a href="#events">UPCOMING EVENTS</a></li>
      <li class="transition-all duration-300 ease-out hover:opacity-85"><a href="/new-post">POST EVENT</a></li>
      
      <!-- If user authed, show account icon fa-user --> 
      {% if user.is_authenticated %}
      <li class=" group transition-all">
        <a href="#account"  class="transition-all duration-300 ease-out hover:opacity-85">
          <i class="fa-solid fa-user"></i>
        </a>
        <ul class="absolute invisible group-hover:visible group-hover:opacity-100 
        opacity-0 transform scale-95 group-hover:scale-100 transition-all duration-800 ease-out 
        top-full mt-1 -right-2 p-2 bg-white text-center text-gray-900 shadow-md whitespace-nowrap">
          <!-- Drop-down menu options --> 
          <li class="p-4 bg-white hover:bg-csun-red hover:text-white transition-all duration-300 ease-out"><a href="/profile">Profile</a></li>
          <li class="p-4 bg-white hover:bg-csun-red hover:text-white transition-all duration-300 ease-out"><a href="/logout">Sign Out</a></li>
        </ul>
      </li>
      <!-- If user NOT authed, show login --> 
      {% else %}
      <li><a href="/login">LOGIN</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
{% endblock %}
