{% extends 'base.html' %}

{% block head %}
<title>New Post</title>
{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="max-w-lg w-full bg-white p-8 rounded-lg shadow">
    <h1 class="text-2xl font-bold mb-6">New Post</h1>
    <form action="/new-post" method="POST" class="space-y-4">
      <div>
        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
        <input type="text" name="title" id="title" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" />
      </div>
      <div>
        <label for="content" class="block text-sm font-medium text-gray-700">Description</label>
        <textarea name="content" id="content" rows="10" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" ></textarea>
      </div>
      <input type="submit" value="Add Post" class="w-full bg-csun-red hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer" />
    </form>
  </div>
</div>
{% endblock %}
