{% block post %}

<div class="bg-white p-6 rounded-lg shadow mb-4">
    <h2 class="text-2xl font-bold text-gray-800 mb-2">
      {{ post.title }}
      <span class="block h-1 bg-red-500 w-1/4 mt-2"></span>
    </h2>
    <p class="text-gray-600 mb-4">Posted by {{ post.user.full_name() }}</p>
    <p class="text-gray-700 mb-4">{{ post.content }}</p>
    <div class="flex space-x-4">
      <a href="/posts/{{ post.id }}" class="btn-primary">
        Read More
      </a>
      <a href="/events/join/{{ post.id }}" class="btn-primary">
        Join Event
      </a>
    </div>
</div>

{% endblock %}